.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.gitkeep
**/tslint.json
**/webpack.config.js
node_modules/**
tests/**
docs/**
.github/**
*.vsix
out/test/**
out/**/*.map
resources/examples/**
*.log